body {
  background-color: #e27a3f;
  color: #334d5c;
  /*
  334d5c
  45b29d
  efC94c
  e27a3f
  df5a49
  */
}

.flashcard {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;

  background-color: #fff;
  border: 0.1em solid #777;
  box-shadow: 0 0.2em 1em 0 #777;
}

.flashcardValue, .flashcardHint {
  text-align: center;
}

.flashcardBody {
  padding: 0.5em;
  margin: 2em 0;
}

.flashcardValue {
  padding-bottom: 0.5em;
  font-weight: bold;
}

.flashcardHint {
  padding-top: 0.5em;
  font-style: italic;
}

.flashcardHead, .flashcardFoot {
  color: #DF5A49;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.5em;
}

.flashcardHead {
  border-bottom: 0.1em solid #df5a49;
}

.flashcardFoot {
  border-top: 0.1em solid #df5a49;
}

.menu {
  width: 15em;
  max-width: 90%;
  margin: 1em auto;
  text-align: center;
}

.menu button {
  width: 5em;
  padding: 0.25em;
  background-color: #efC94c;
  border: 0.2em solid #df5a49;
  border-radius: 0.2em;
  outline: none;
  box-shadow: 0 0.1em 0.2em 0 #777;
}

.menu button:not(:first-child) {
  margin-left: 0.5em;
}
  
.menu button:not(:last-child) {
  margin-right: 0.5em;
}
